*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
nav{
    /* display: flex; */
    /* background-color: #2438f0; */
    background-color: black;
    color: antiquewhite;
    display: flex;
    justify-content:space-between;
    /* padding-top: 25px; */
}
.row{
    padding-top:5px;
    padding-left: 30px;
}
ul{
    padding-top: 20px;
    list-style: none;
    display: flex;
    color: white;
    gap: 40px;
}

.contain{
 overflow: hidden;
} 
.title h1{
    font-size: 140px;
    padding-left: 3%;
    padding-top: 230px;
}
.contain1 p{
    padding-left: 50px;
}

.contain1{
    display: block;
    background-image: url(../CSS_IMG/SUSHIBACK.png);
    padding: 0;
    color: aliceblue;
    width: 100%;
    height: 550px;
}
button{
    height:35px;
    width: 120px;
    border-radius: 40PX;
    color: aliceblue;
    background-color: #21243d;
}
.heading{
    text-align: center;
    padding-top: -20px;  
    font-size: 30px;
    font-family: "Montserrat";
}
.page1{
    height: 600px;
    position: relative;
    background-color: #21243d;
    color: aliceblue;
    padding: 100px;
}
.class{
    display: flex;
    justify-content: space-around;
}
.sushi1 img{
    border-radius: 50%;

}
.sushi2 img{
    border-radius: 50%;
    
}
.sushi3 img{
    border-radius: 50%;
    
}
.class p{
    font-size: medium;
}
/* .position{ */
    /* position:relative; */
/* } */
section{
    position: relative;
}
.class1{
    position: absolute;
    top: -30px;
    right: -20px;
}
.class2{
    position: absolute;
    bottom: 80px;
    right: 1px;
}
.class3{ 
    position: absolute;
    top: 320px;
    right: -10px; 
 } 
 .class4{
    position: absolute;
    top: -9px;
    left: 25%;
}
/* .class5{
    position: absolute;
    top: 60px;
    bottom: 40px;  */
 /* }   */
 .class6{
   position: absolute;
   top: 450px;
   left: -70px;
 }
 .class7{
    position: absolute;
    top: 130px;
    left: 40px;
 }
 .contain2{
  /* padding-bottom: 30px; */
  height: 470px;
 }
 .page2{
   background-color: #ffd17e;
 }
 .contain2 img{
padding-bottom: 10px;
    border-radius: 50%;
    height: 370px;
    width: 370px;
    margin-left: 170px;

    /* padding-left: 40px; */
 }
 .page2{
    display: flex;
    padding-top: 130px;
 }
 .title2{
    padding-left:13%;
 }
 .title2 h1{
    padding-top: 50px;
    font-size: 80px;
    font-family: "Montserrat";
    padding-left: 15px;
 }
 section{
    position: relative;
 }
 .loop1{
    position: absolute;
    bottom:20px;
    right: -40px;
 }
 .loop2{
    position: absolute;
    top: 20px;
    right: 30px;
 }
 .loop3{
    position: absolute;
    top: 80px;
    right: 440px;
 }
 .loop4{
    position: absolute;
    bottom: 20px;
    left: 50px;
 }
 .loop5{
    position: absolute;
    top: 20px;
    right: 950px;
    /* -----lastimg----aaaaaaaa */
 }
 .stat{
    text-align: center;
    padding-top: 40px;
 }
 .stat h1{
    font-size: 40px;
 }
 .stat p{
    font-size: 20px;
 }
 .circle-1{
    font-weight: bold;
    font-family: "Montserrat";
    display: flex;
    justify-content: space-around;
    padding-top: 90PX;
 }
 .circle1{
    border: 1px solid rgb(245, 242, 242);
    border-radius: 50%;
    padding-top: 35px;
    width: 150px;
    height: 150px;
 }
.circle2{
    border: 1px solid white;
    border-radius: 50%;
    padding-top: 35px;
    width: 150px;
    height: 150px;
}
.circle3{
    border: 1px solid rgb(246, 243, 243);
    border-radius: 50%;
    padding-top: 35px;
    width: 150px;
    height: 150px;
}
.page3{
    background-color: #21243d;
    color: aliceblue;
}
.contain3{
    padding: 110px;
}
.contain4{
    display: flex;
    justify-content: space-around;
}
.suchi4 img{
    padding-top: 50px;
    border-radius: 50%;
    height: 450px;
    width:450px;
}
.lorem{
    margin-top: 90px;
}
.lorem h1{
    font-size:90px;
    font-family: "Montserrat";
}
.page4{
    padding: 75px;
    background-color: #ffd27e;
}
.backimg{
   background-image: url(../CSS_IMG/sushi6.png) no-reapet center center 100% 100%/cover;
}
.page5{
    padding: px;
}
input{
    border-radius: 20PX;
    border: 1PX solid black;
    width: 35%;
    height: 35PX;
}
.title3{
    text-align: center;
    /* padding-top: 40px; */
}
.title3 h1{
    font-size: 90px;
}
.title3 p{
    font-size: 25px;
}
.page6{
    background-color: #ffd17e;
}
.contain6{
  padding: 170px;  
}
.footer{
    display: flex;
}
.contain7{
    display: flex;
    justify-content: space-around;
    background-color: #21243d;
    color: aliceblue;
    padding: 242px;

}
.background{
    overflow: hidden;
}
.page2{
    overflow: hidden;
}
 .section{
    position: relative;
}   
.chrome5{
    position: absolute;
    top: 150px;
    right: 20px;
}
.chrome11{
    position: absolute;
    bottom: 50px;
    right: 60px;
}
.chrome6{
    position: absolute;
    top: 250px;
    left: 70px;
}
.chrome7{
    position: absolute;
    bottom: 50px;
    right: 350px;
}
.chrome8{
    position: absolute;
    top: 40px;
    left: 60px;
}
.chrome9{
    position: absolute;
    bottom: -60px;
    left: 350px;
}
section{
    position: relative;
}

.chips1{
 position: absolute;
 top: ;
}